<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new group</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<nav th:insert="/layout/layouts.html :: navs"></nav>
<div class="container-fluid text-center">
  <h1>Add new group</h1>
  <!-- форма добавления студента -->
  <form method="post" th:action="@{/groups/new}" th:object="${group}">
    <!-- поле имени -->
    <label>Group Name: </label>
    <input type="text" th:field="*{groupName}" required minlength="1" maxlength="50"/>
      <!-- кнопка сохранить -->
      <button type="submit" class="btn btn-success">Save</button>
      <!-- кнопка отмены -->
      <a th:href="@{/groups}" class="btn btn-warning">Cancel</a>
  </form>

</div>
</body>
</html>